<div class="bevitel">
    <form>  
        <div class="mb-3">
        <label for="nameInput" class="form-label">Név</label>
        <input type="text" class="form-control" id="nameInput" placeholder="Adja meg a nevét">
        </div>
        <div class="mb-3">
        <label for="typeInput" class="form-label">Fajta</label>
        <input type="text" class="form-control" id="typeInput" placeholder="Adja meg a fajtát">
        </div>
        <div class="mb-3">
        <label for="quantityInput" class="form-label">Mennyiség</label>
        <input type="number" class="form-control" id="quantityInput" placeholder="Adja meg a mennyiséget">
        </div>
        <button type="submit" class="btn btn-primary">Küldés</button>
    </form>
</div>  